@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(menu.css);
@import url(login.css);

body {
  font: bold 25px 'Walter Turncoat', cursive, san-serif;
}

h1 {
  color: #49e;
  display: inline-block;
  float: left;
  margin-top: 0;
}

#board {
  border: 5px dotted lightgrey;
  position: fixed;
  right: 8%;
  top: 8%;
}

.popup {
  border-radius: 5px;
  color: white;
  display: none;
  font-size: 20px;
  padding: 5px;
	text-align: center;
  z-index: 1;
}

.popup::after {
  border-style: solid;
  border-width: 5px;
  content: " ";
  left: 50%;
  margin-left: -5px;
  position: absolute;
}

.errorPop {
  background-color: #c22;
  position: relative;
  top: 35%;
  width: 120px;
}

#iconError {
  margin-left: 12px;
}

.errorPop::after {
  border-color: #c22 transparent transparent transparent;
  top: 100%;
}

#namePopup {
	background-color: #222;
	margin-left: 10px;
	position: absolute;
  top: 65px;
  width: 100px;
}

#namePopup::after {
  border-color: transparent transparent black transparent;
  bottom: 100%;
}

.avatarIcon {
  font-size: 48px;
}

.modal {
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
	overflow: auto;
	padding-top: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#clrBox {
  background-color: #fff;
  border: 1px solid #888;
  height: auto;
  margin: 15% auto 15% auto;
  min-height: 140px;
  width: 400px;
}

h5 {
  padding: 15px;
}

#clrModal {
  font: 26px "Antic", sans-serif;
  text-align: center;
}

#clrBtn {
	background-color: #b11;
  border: none;
	color: white;
	cursor: pointer;
  outline: none;
	padding: 18px;
  text-align: center;
  transition: 0.4s;
	width: 100%;
}

#clrBtn:hover {
  background-color: red;
}

#clrCloseBtn {
  background-color: white;
  border: none;
  color: #000;
  cursor: pointer;
  float: right;
}

#clrCloseBtn:hover {
  color: #999;
}
